<section class="section is-medium">
    <h1 class="title">Oops...</h1>
    <h2 class="subtitle">
        That page doesn't exist, click <a href="/" class="has-text-info"><strong>here</strong></a> to return home.
    </h2>
</section>

@code {

}
