@using RecordShopApp.Models

<div class="card is-flex-direction-column mx-3" style="width: 30%;">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <a class="title is-4" href="/albums/@Album.Id">@Album.Title</a>
                <p class="subtitle is-6">@Album.Artist</p>
            </div>
        </div>
        <div>
            @Album.Description
        </div>
        <div>
            <br />
            <p class="subtitle is-7">Released: @Album.Year</p>
        </div>
    </div>
    <footer class="card-footer">
        <a href="/albums/update/@Album.Id" class="card-footer-item">Edit</a>
        <a href="/albums/delete/@Album.Id" class="card-footer-item">Delete</a>
    </footer>
</div>

@code {
    [Parameter]
    public Album Album { get; set; }
}
