@using RecordShopApp.Models

@if(Albums != null){
    <AlbumSummaryList Albums="Albums"/>
} else{
    <section class="section is-medium">
        <h1 class="title">Loading...</h1>
    </section>
}


@code {
    public List<Album> Albums { get; set; }

    public HttpClient http = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        Albums = await GetAlbumsAsync();
    }

    public async Task<List<Album>> GetAlbumsAsync()
    {
        var response = new List<Album>();
        try
        {
            response = await http.GetFromJsonAsync<List<Album>>("https://localhost:7280/api/album");
            if (response != null)
            {
                Albums = response;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
        return response;
    }
}
