@using RecordShopApp.Models
@using System.Text.Json.Serialization

<AlbumSummary Album="Album" />

<div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" type="text" placeholder="e.g Revolver" @bind-value="Album.Title">
    </div>
</div>

<div class="field">
    <label class="label">Artist</label>
    <div class="control">
        <input class="input" type="text" placeholder="e.g. The Beatles" @bind-value="Album.Artist">
    </div>
</div>

<div class="field">
    <label class="label">Year</label>
    <div class="control">
        <input class="input" type="text" placeholder="e.g. 1973" @bind-value="Album.Year">
    </div>
</div>

<div class="field">
    <label class="label">Genre</label>
    <div class="control">
        <input class="input" type="text" placeholder="e.g. Hippie Rock" @bind-value="Album.Genre">
    </div>
</div>

<div class="field">
    <label class="label">Description</label>
    <div class="control">
        <input class="input" type="text" placeholder="e.g. Pretty cool album" @bind-value="Album.Description">
    </div>
</div>

<div class="field">
    <label class="label">Stock</label>
    <div class="control">
        <input class="input" type="text" placeholder="e.g. 99" @bind-value="Album.Stock">
    </div>
</div>
<button class="button is-ghost" @onclick="SaveChanges">Save</button>

@code {

    [Parameter]
    public Album Album { get; set; } = new Album();

    [Parameter]
    public int? Id { get; set; }

    public HttpClient http = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        await GetAlbum();
    }

    public async Task GetAlbum()
    {
        var album = await http.GetFromJsonAsync<Album>($"https://localhost:7280/api/album/{Id}");
        if (album != null) Album = album;
    }

    public async Task SaveChanges()
    {
        try
        {
            await http.PostAsJsonAsync<Album>("https://localhost:7280/api/album", Album);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}
