@using RecordShopApp.Models

<div class="card is-flex-direction-column mx-3" style="width: 30%;">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">@Album.Title</p>
                <p class="subtitle is-6">@Album.Artist</p>
            </div>
        </div>

        <div>
            <br />
            Released: @Album.Year
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Album Album { get; set; }
}
