@using RecordShopApp.Models
@if(Albums != null){
    <AlbumSummaryList Albums="Albums"/>
}else{
    <section class="section is-medium">
        <h1 class="title">Loading...</h1>
    </section>
}


@code {
    public List<Album> Albums { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using (var http = new HttpClient())
        {
            try{
                Albums = await http.GetFromJsonAsync<List<Album>>("https://localhost:7280/api/album");
            }
            catch(Exception e){
                Console.WriteLine(e.Message);
            }
        }
    }
}
