<footer class="footer mt-5" style="padding: 10px 10px 30px 10px;">
    <div class="content has-text-centered">
        <p>
            <strong>RecordShop</strong> by <a href="https://github.com/nick-midmore">Nick Midmore</a>.
            2025
        </p>
    </div>
</footer>

@code {

}
